.container {
  padding: 20px;
  font-family: Arial;
}

.layout {
  display: flex;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  padding-left: 20px;
}

.article, .comment {
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
}

button {
  margin-right: 5px;
}
